Radelyn Pulga Pita
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Text Box and Keyboard</title>
  <!-- Add Bootstrap CSS link -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div id="app" class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Text Box and Virtual Keyboard</h1>
        <input type="text" class="form-control mb-2" v-model="inputText" @input="handleTextInput">
        <div class="keyboard">
          <button
            v-for="key in keyboard"
            :key="key"
            @click="handleKeyClick(key)"
            :class="{ 'btn-success': isCapsLockOn && key === 'Caps Lock' }"
            class="btn btn-secondary m-1"
          >
            {{ key }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Vue.js and Bootstrap JS scripts -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        isCapsLockOn: false,
        inputText: '',
        keyboard: [
          'Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P',
          'A', 'S', 'D', 'F', 'G', 'H', 'J', 'K', 'L',
          'Caps Lock', 'Z', 'X', 'C', 'V', 'B', 'N', 'M', 'Backspace',
          'Space', 'Clear'
        ]
      },
      methods: {
        handleKeyClick(key) {
          if (key === 'Caps Lock') {
            this.isCapsLockOn = !this.isCapsLockOn;
          } else if (key === 'Backspace') {
            this.inputText = this.inputText.slice(0, -1);
          } else if (key === 'Space') {
            this.inputText += ' ';
          } else if (key === 'Clear') {
            this.inputText = '';
          } else {
            this.inputText += this.isCapsLockOn ? key.toUpperCase() : key.toLowerCase();
          }
        },
        handleTextInput() {
          // You can add additional input validation or processing here if needed
        }
      }
    });
  </script>
</body>
</html>